{% load staticfiles %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">File storage project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         <p class="navbar-text navbar-right">Вы вошли как: <b>Сидоров Геннадий</b> | <a href="/home" class="navbar-link">Домашняя директория</a></p>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  
