{% extends "base.html" %}
{% block title %}Просмотр папок{% endblock %}


{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% else %}

    <ol class="breadcrumb">
        {% for dir in path_dirs %}
            {% if not forloop.last %}
                <li><a href="/{{ dir.full_path }}">{{ dir.name }}</a></li>
            {% else %}
                <li class="active">{{ dir.name }}</li>
            {% endif %}
        {% endfor %}
    </ol>

    <div class="row">
        <div class="col-sm-2">
            <p align="center">Дерево каталогов</p>
            {% load mptt_tags %}
            <ul>
                {% recursetree user_dirs %}
                    <li>
                        <a href="/{{ node.full_path }}">
                            {% if node == cur_dir %}
                                <strong>{{ node.name }}</strong>
                            {% else %}
                                {{ node.name }}
                            {% endif %}
                        </a>
                        {% if not node.is_leaf_node and cur_dir in node.get_descendants %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>

        <div class="col-sm-7">
            <p align="center">Список файлов</p>
            {% if file %}
                <br> Вот ссылка:
                <a href={{ file.my_file.url }} download>{{ file.name }}</a>
                </br>
            {% else %}
                {% if parent %}
                    <a href="/{{ cur_dur.parent.full_path }}">..(updir)</a><br>
                {% endif %}
                --------- dirs -----------<br>
                {% for dir in dirs %}
                    <a href="{{ dir.name }}">{{ dir.name }}</a><br>
                {% endfor %}
                --------- files ------------<br>
                {% for file in files %}
                    <a href="/{{ file.full_path }}">{{ file.name }}</a> <br>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-sm-3">
            <p align="center">Действия</p>
            {% if not file %}
                <form action="/create/dir/path={{ request.path }}" method="post">
                    {% csrf_token %}
                    {{ CreateDirForm }}
                    <input type="submit" value="Создать директорию"/>
                </form>
                </br>
                <form action="/upload/file/path={{ request.path }}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ UploadFileForm }}
                    <input type="submit" value="Загрузить файл"/>
                </form>
                </br>
                <form action="/update/dir/path={{ request.path }}" method="post">
                    {% csrf_token %}
                    {% for dir in path_dirs %}
                        {% if forloop.last %}
                            <input id="id_name" maxlength="256" name="name" type="text" value="{{ dir.name }}">
                        {% endif %}
                    {% endfor %}
                    <!--{{ UpdateDirectoryName }}-->
                    <input type="submit" value="Переименовать текущую директорию"/>
                </form>
                </br>

                <form action="/delete/dir/path={{ request.path }}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить текущую директорию"/>
                </form>
                </br>

            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}