{% extends "base.html" %}

{% block title %}Домашняя директория{% endblock %}


{% block content %}

<div class="page-header">
  <h1>Дисковое пространство </br><small>Суммарный объем файлов на диске: 500 mb</small></h1>
</div>
      
      
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Мои файлы</a></li>
  <li><a href="#">Фотографии</a></li>
  <li class="active">Прогулка по лесу</li>
</ol>



<div class="container">
    <div class="row row-centered">
        <div class="col-xs-3 ">
                        <div class="tree well">
                            <ul>
                                <li>
                                    <span><i class="icon-folder-open"></i> Мои файлы </span> 
                                    <ul>
                                        <li>
                                        	<span><i class="icon-folder-open"></i> Фотографии </span> 
                                            <ul>
                                                <li>
	                                                <span><i class="icon-folder-open"></i> Прогулка </span> 
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                        	<span><i class="icon-folder-close"></i> Документы </span> 
                                            <ul>
                                                <li style="display: none;">
	                                                <span><i class="icon-folder-close"></i> Работа </span> 
                                                </li>
                                                <li style="display: none;">
                                                	<span><i class="icon-folder-close"></i> Семейные </span> 
                                                    <ul>
                                                        <li style="display: none;">
	                                                        <span><i class="icon-folder-close"></i>  Мои </span> 
		                                                    
                                                        </li>
                                                        <li style="display: none;">
	                                                        <span><i class="icon-folder-close"></i> Жена </span> 
                                                        </li>
                                                        <li style="display: none;">
	                                                        <span><i class="icon-folder-close"></i> Сын </span> 
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li style="display: none;">
	                                                <span><i class="icon-folder-close"></i> Недвижимость </span> 
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </div>

                        

        </div>
       
       
       
       
        <div class="col-xs-9 col-centered">
        {% if not error %}
            {% if file %}
                <br> Вот ссылка:
                <a href={{ file.my_file.url }} download>{{ file.name }}</a>
                </br>
            {% else %}
                {% if parent %}
                    <a href=/{{ parent.full_path }}>..(updir)</a><br>
                {% endif %}
                --------- dirs -----------<br>
                {% for dir in dirs %}
                    <a href={{ dir.name }}>{{ dir.name }}</a><br>
                {% endfor %}
                --------- files ------------<br>
                {% for file in files %}
                     <a href={{ file.my_file.url }} download={{ file.name }}>{{ file.name }}</a> <br>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>{{  error }}</p>
        {% endif %}
        </div>
        
    </div>
</div>




{% endblock %}
